.App {
  min-height: 100vh;
}

.header {
  padding: 10px 0;
  height: 40px;
  line-height: 36px;
  border-bottom: 1px solid rgb(48, 48, 48);
}
.logo {
  margin-left: 100px;
  float: left;
}
.logo img {
  float: left;
  margin-right: 10px;
}
.logo a {
  font-weight: bold;
  font-size: 18px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  margin-right: 30px;
}
.search {
  margin-left: 250px;
  width: 500px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.22);
  border-radius: 30px;
}
.search a {
  float: left;
  display: block;
}
.search svg {
  width: 18px;
  display: block;
  margin: 11px 15px;
  fill: rgb(255, 255, 255);
}
.search input {
  display: block;
  float: left;
  width: 450px;
  line-height: 40px;
  border: none;
  outline: none;
  background-color: transparent;
  color:rgb(255, 255, 255);
  padding: 0px;
}