.contentWrapper {
  width: 1200px;
  margin: auto;
}

.logo {
  float: left;
  width: 150px;
  height: 31px;
  margin: 16px 24px 16px 0;
  line-height: 31px;
  font-weight: 900;
  font-size: 18px;
}

.logo img {
  display: block;
  float: left;
  height: 100%;
  margin-right: 10px;
}

.search {
  float: left;
  margin-top: 10px;
  width: 800px;
}

.mtop30 {
  margin-top: 30px;
}

.fixSearch {
  position: fixed;
  width: 800px;
  left: 50%;
  top: 200px;
  margin-left: -400px;
}

ul li:nth-child(odd) {
  background-color: rgb(241, 245, 249);
}
ul.dark li:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.6);
}
ul li {
  list-style: none;
  padding: 8px 10px;
}

.fileTree {
  margin: 0;
  padding: 0;
}
.fileTree .icon {
  padding: 0 5px;
  vertical-align: middle;
}
.fileTree .modified {
  color: #faad14;
}
.fileTree .removed {
  color: #ff4d4f;
}
.fileTree li span {
  display: inline-block;
}
.fileTree li span:nth-child(1) {
  width: 100px;
}
.fileTree li span:nth-child(2) {
  width: 50px;
  text-align: right;
}
.fileTree li span:nth-child(3) {
  width: 80px;
  text-align: right;
  margin-right: 20px;
}
.wastedList {
  margin: 0;
  padding: 0;
}

.wastedList li span {
  display: inline-block;
}
.wastedList li span:nth-child(1) {
  text-align: right;
  width: 80px;
}
.wastedList li span:nth-child(2) {
  text-align: right;
  width: 60px;
  margin-right: 30px;
}
